Computer_Vision_lecture/Computer_Vision_lecture/Resources/test_1.json
[
    {
        "id": "76f9a2ae0585fb92",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2995252e131a5af0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e5efdd1017188ee",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51bda2d4021b5a09",
        "type": "inject",
        "z": "76f9a2ae0585fb92",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Amsyar\"}",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "704ec12e48decf01"
            ]
        ]
    },
    {
        "id": "704ec12e48decf01",
        "type": "debug",
        "z": "76f9a2ae0585fb92",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "324392cbe11985cc",
        "type": "complete",
        "z": "76f9a2ae0585fb92",
        "name": "",
        "scope": [
            "51bda2d4021b5a09"
        ],
        "uncaught": false,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "5b886b8c3518a267"
            ]
        ]
    },
    {
        "id": "4e6572668c663fe3",
        "type": "catch",
        "z": "76f9a2ae0585fb92",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "5b886b8c3518a267"
            ]
        ]
    },
    {
        "id": "5b886b8c3518a267",
        "type": "debug",
        "z": "76f9a2ae0585fb92",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "2b6c44d5cc8f3eb7",
        "type": "comment",
        "z": "76f9a2ae0585fb92",
        "name": "if the function completes, show the message!",
        "info": "",
        "x": 250,
        "y": 200,
        "wires": []
    },
    {
        "id": "b17f3da59f6a652f",
        "type": "comment",
        "z": "76f9a2ae0585fb92",
        "name": "if the function completes, show the message!",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "731ccd9572291808",
        "type": "http in",
        "z": "2995252e131a5af0",
        "name": "",
        "url": "/web",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "916ca3e4b8a2a33f"
            ]
        ]
    },
    {
        "id": "c5302438bb4062b7",
        "type": "http response",
        "z": "2995252e131a5af0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "916ca3e4b8a2a33f",
        "type": "template",
        "z": "2995252e131a5af0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !\n\n<html>\n    <head> \n        <title>Node-RED Web Sample</title>\n    </head>\n    <body>\n        <h1>Hello Node-RED!!</h1>\n        <h2>Menu 1</h2>\n        <p>It is Node-RED Sample webpage.</p>\n        <hr>\n        <h2>Menu 2</h2>\n        <P>It is Node-RED Sample webpage.</P>\n    </body>\n</html>",
        "output": "str",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c5302438bb4062b7"
            ]
        ]
    },
    {
        "id": "3d11ac67c334edf1",
        "type": "inject",
        "z": "5e5efdd1017188ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "783e1ec501915069",
                "d0bba93c077a26db"
            ]
        ]
    },
    {
        "id": "d0bba93c077a26db",
        "type": "function",
        "z": "5e5efdd1017188ee",
        "name": "Generate Random Number",
        "func": "// generate random number\nvar min = 1;\nvar max = 10;\nvar a = Math.floor(Math.random() * (max + 1 - min)) + min;\n\n// set random number to message\nmsg.payload = a;\n\n// return message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 200,
        "wires": [
            [
                "b68cd1b5a9052350",
                "b1bbb19cbeaa39fc"
            ]
        ]
    },
    {
        "id": "783e1ec501915069",
        "type": "debug",
        "z": "5e5efdd1017188ee",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "b68cd1b5a9052350",
        "type": "switch",
        "z": "5e5efdd1017188ee",
        "name": "Big and Small",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "a2f87904e1afd3a4"
            ],
            [
                "de79fc3562b359b9"
            ]
        ]
    },
    {
        "id": "b1bbb19cbeaa39fc",
        "type": "change",
        "z": "5e5efdd1017188ee",
        "name": "Change to String",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "it has been changed to string data!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "036aeebec2ea328f"
            ]
        ]
    },
    {
        "id": "a2f87904e1afd3a4",
        "type": "template",
        "z": "5e5efdd1017188ee",
        "name": "Output Small",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The number is small: {{payload}} !",
        "output": "str",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "5fb5db1f6227e763"
            ]
        ]
    },
    {
        "id": "de79fc3562b359b9",
        "type": "template",
        "z": "5e5efdd1017188ee",
        "name": "Output Big",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The number is big: {{payload}} !",
        "output": "str",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "5fb5db1f6227e763"
            ]
        ]
    },
    {
        "id": "5fb5db1f6227e763",
        "type": "debug",
        "z": "5e5efdd1017188ee",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "036aeebec2ea328f",
        "type": "debug",
        "z": "5e5efdd1017188ee",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 340,
        "wires": []
    }
]